* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    position: relative;
  }
  
  .nav  .nav-header {
    display: inline;
  }
  
  .nav  .nav-header  .nav-title {
    display: inline-block;
    font-size: 2rem;
    color: gray;
    padding: 1% 2%;
  }
  
  .nav  .nav-btn {
    display: none;
  }
  
  .nav  .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
   margin-right: 2%;
  width: 40%;

  }
  
  .nav  .nav-links  a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
color: black;
padding: 2% 5%;

  
  }
  .nav  .nav-links button{
      padding: 10px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 10%;
     
  }
  
  .nav  .nav-links  a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav  #nav-check {
    display: none;
  }

  .container{
      
    margin-top: 5%;
  
    
}



.wrapper .circle{
    position: absolute;
    width: 30%;
    height: 500px;
    border: solid 2px black;
    border-radius: 50%;
    
}

.pink{
    background-color:#f17b76;
    transform: translate(2%,10%);
    height: 400px;
  
}
.red{
    background-color: #fad7d1;
    transform: translate(5%,-5%);
    height: 400px;
}
.black{
    background-color: black;
    transform: translate(-5%,5%);
    height: 400px;
}
.circle img{
  width: 100%;
    height: inherit;
    border-radius: 50%;
}
.right{
    width: 40%;
    float: right;
    margin-right: 10%;
}
.heading{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: #f17b76;
  margin-top: 10%;
}
.right img{
  width: 50%;
}
.right button{
    background-color: black;
    width: 100px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10%;
}
  
  @media (max-width:600px) {
    .nav  .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav  .nav-btn  label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav  .nav-btn  label  span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav  .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav  .nav-links  a {
      display: block;
      width: 100%;
    }
    .nav  #nav-check:not(:checked)  .nav-links {
      height: 0px;
    }
    .nav  #nav-check:checked  .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    .container .circle{
display: none;
    }
    .container .img{
display: block;
width: 70%;
height: 300px;
margin: auto;
position: relative;
    }
    .container .right{
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 5%;
      
    
    }


  }



  